<div class="vestido" *ngIf="vestido">
  <h1>{{ vestido.title }}</h1>
  <img
    src="{{ baseApiUrl }}uploads/{{ vestido.image }}"
    alt="{{ vestido.title }}"
  />
  <h1>R$: {{ vestido.value }}</h1>
  <div class="about-vestido">
    <h3>Descrição do Vestido:</h3>
    <p>{{ vestido.description }}</p>
  </div>

  <div class="actions">
    <h3>Entre em contato para saber se esta disponivel!</h3>
    <a
      class="what"
      href="https://api.whatsapp.com/send?text=O {{ vestido.title }} {{ vestido.id }} esta Disponível?&phone=55449989-9064"
      target="_blank"
    ><img src="./assets/rede/whatsapp.png" alt="">
    
    </a>
  </div>

  <div class="details-vestido">
    <table>
      <tr>
        <th>Cor:</th>
        <td>{{ vestido.color }}</td>
      </tr>
      <tr>
        <th>Estilo:</th>
        <td>{{ vestido.style }}</td>
      </tr>
    </table>
  </div>
  <!-- Comentarios -->
  <div class="comments">
    <h3>
      Comentários ({{
        vestido.comments!.length > 0 ? vestido.comments!.length : 0
      }}):
    </h3>
    <div *ngIf="vestido.comments!.length > 0; else noComments">
      <div class="comment-container" *ngFor="let comment of vestido.comments">
        <p class="author"><span>Por: </span>{{ comment.username }}</p>
        <p class="comment">{{ comment.text }}</p>
      </div>
    </div>
    <div>
      <ng-template #noComments>
        <p>Não há comentários</p>
      </ng-template>
    </div>
  </div>
  <div class="comment-form">
    <h3>Deixe um comentário:</h3>
    <form [formGroup]="commentForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
      <div class="form-group">
        <label for="username">Nome:</label>
        <input type="text" formControlName="username" placeholder="Digite o seu nome" />
        <div *ngIf="username.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="username.errors?.['required']">O nome é obrigatório.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="text">Comentário:</label>
        <textarea formControlName="text" placeholder="Comentário" required></textarea>
        <div *ngIf="text.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="text.errors?.['required']">O texto é obrigatório.</p>
        </div>
      </div>
      <input type="submit" value="Comentar!" />
    </form>
  </div>
</div>
