<div class="about">
  <h2>Sobre Silvana Atelier</h2>
  <p>Somos uma loja para alugueis de vestidos de festa!</p>
  <div class="social-midia">
    <h2>Conheça nossas redes sociais</h2>
    <ul class="social-list">
      <li>
        <a target="_blank" href="https://www.instagram.com/silvanachristoffoli/"><img src=".\assets\rede\instagram.png" alt=""></a>
      </li>
      <li>
        <a target="_blank" href="https://www.facebook.com/silvana.wrzecionek"><img src=".\assets\rede\facebook.png" alt=""></a>
      </li>
      <li>
        <a target="_blank" href="https://wa.me/554499899064"><img src="./assets/rede/whatsapp.png" alt=""></a>
      </li>
    </ul>
    <ul></ul>
  </div>
</div>

