.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-container h1 {
  margin-bottom: 1em;
  font-family: Cambria;
  font-size: 2em;
}

.home-container h1 span {
  color: #7816a1;
}

.vestidos-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.vestido {
  width: 30%;
  margin-bottom: 1.5em;
  text-align: center;
}

.vestido img {
  width: 100%;
}

.vestido h3 {
  font-size: 1.4em;
  color: black;
}

.vestido h3,
.vestido p {
  margin-bottom: 0.5em;
}

.vestido .date {
  font-size: 0.7em;
  font-style: italic;
}

a {
  color: #7816a1;
  padding: 0.3em 0.6em;
}

a:hover {
  background-color: #efefef;
}

.search-container {
  margin-bottom: 2em;
  width: 100%;
}

.search-container form {
  width: 30%;
  position: relative;
}

.search-container fa-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.search-container input {
  padding: 0.5em;
  width: 100%;
  text-align: right;
}
